tr.caret, tr.caret .uin{
	
	background-color: rgba(220,100,100,0.25);
	
}

tr.caret .uin.caret, td.caret {
	
	background-color: rgba(220,50,50,0.75);
}

tr.caretBelow td, tr.invisiblerow.caretBelow td{
	border-collapse:collapse;
	border-bottom: 3px dashed aqua; 
}

tr.invisiblerow{
	height: 0px;
}


tr td,tr.invisiblerow td{
	border-bottom: 3px dashed rgba(0,0,0,0);
}


tr:not(.caret) .uin:placeholder-shown {
	background-color: #f3f3f3;
	border-style: none;
}

tr:not(.caret).not(.invisiblerow):hover td {
	background-color: rgba(220,100,100,0.1);
}

tr:not(.caret):not(.invisiblerow) td:hover {
	background-color: rgba(220,50,50,0.25);
}