#editor{
	border: 1px solid lightgray;
	margin-top: 2px;
}

#flags li{
	display:inline;
	list-style-type:none;
	background-color:rgb(220,220,220);

	margin-top: 15px;
	padding: 3px;
	border-radius:7.5px 7.5px 0px 0px;
	border: 1px solid darkgray;
	cursor:pointer;
}

#flags li.activeTab{
	background-color: white;
	font-weight: bold;
}

.heading {
	font-weight: bold;
    font-size: larger;
	text-align: left;
	padding-left: 2%;
}

.hidden {
    display: none;
}

